body{
  background-color: Purple;
}
.textstyle1{
  text-align: center;
  color: rgb(255, 128, 154);
}
.linkbutton{
    background-color: rgb(0,225,225);
    color: white;
    padding: 45px 65px;
    text-align: center;
    margin-bottom: 50px;
    text-align: center;
    font-family: Arial;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
.textstyle2{
    text-align: left;
    color: rgb(37, 128, 154);
}
.rainbowtext1{
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
             -8px 8px #f48fb1,
             -12px 12px #7e57c2,
             -16px 16px #2196f3,
             -20px 20px #26c6da,
             -24px 24px #43a047,
             -28px 28px #eeff41,
             -32px 32px #f9a825,
             -36px 36px #ff5722;
}
.rainbowtext2{
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: fantasy;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
              -8px 8px #f48fb1,
              -12px 12px #7e57c2,
              -16px 16px #2196f3,
              -20px 20px #26c6da,
              -24px 24px #43a047,
              -28px 28px #eeff41,
              -32px 32px #f9a825,
              -36px 36px #ff5722;
}
@-webkit-keyframes blinker{
from { opacity: 1.0; }
to { opacity: 0.0; }
}
.flashAndFadeText{
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ff0000,
           -8px 8px #f48fb1,
           -12px 12px #ff57c2,
           -16px 16px #ff96f3,
           -20px 20px #ffc6da,
           -24px 24px #ffa047,
           -28px 28px #ffff41,
           -32px 32px #ffa825,
           -36px 36px #ff5722;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.arrow-icon {
  background-color:transparent;
  height: 2.8em;
  width: 2.8em;
  display:block;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.left-bar {
  position: absolute;
  background-color: white;
  top: 0;
  left:0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: white;
  top: 0px;
  left:26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
  }
}

.open {
    .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }

}


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(rgb(green));
  font-size: 60px;
}
.waviy span {
  font-family: Georgia, serif;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  color: green;

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
